<ul class="sidebar-list">
    <li>
        <div class="list-item-title">
            Szybki dostęp
            <span class="arrow">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </span>
        </div>
        <ul class="sidebar-hidden-list-icons">
            <li>
                <a href="#" (click)="togglePopUp()">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Zarządzaj</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Config</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <span>Stat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-window-maximize" aria-hidden="true"></i>
                    <span>SSH</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                    <span>Restart</span>
                </a>
            </li>
            <li>
                <a href="#" (click)="togglePopUp()">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <span>Wyłącz</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
